<!DOCTYPE html>
<html lang="en">

<!-- ******************
        HEAD
********************-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BuddyTalk</title>
    <link rel="stylesheet" href="/app/static/style.css">
    <script src="/app/static/app.js"></script>
    <link rel="shortcut icon" href="/app/images/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<!-- ******************
        BODY
********************-->

<body>
    <div class="container">
        <nav>
            <div id="title">
                <a href="/app/template/index.html" id="tName">BuddyTalk<a>
            </div>
            <div class="list">
                <ul>
                    <a href="/app/template/index.html">Home</a>
                </ul>
                <ul>
                    <a href="/app/template/about.html">About</a>
                </ul>
                <ul>
                    <a href="/app/template/contact.html">Contact</a>
                </ul>
                <ul>
                    <a href="/app/template/login.html">Login</a>
                </ul>
            </div>
        </nav>
    </div>

    <!--***********************
            HERO
    ************************-->

    <div class="hero">


    </div>
    
</body>
<hr>
<!-- ******************
        FOOTER
********************-->
<footer class="footer">
    <div class="footer-container">
        <div class="row">
            <div class="footer-col">
                <h4>BuddyTalk</h4>
                <ul>
                    <li><a href="/app/template/index.html">Home</a></li>
                    <li><a href="/app/template/about.html">about us</a></li>
                    <li><a href="/app/template/contact.html">contact</a></li>
                    <li><a href="/app/template/login.html">login</a></li>

                </ul>
            </div>

            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>

                </div>
            </div>

        </div>


    </div>
</footer>
</html>













<!-- ******************
        SAMPLE
********************-->